# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales
*.tmp
*.temp
*.cache
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Node modules (si usas)
node_modules/